* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    background-color: #333;
    padding: 10px;
}
.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
}
.menu a:hover {
    background-color: #555;
    border-radius: 5px;
}
.header-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.header-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}
.header-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 1.5rem;
}
section {
    padding: 40px 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* Блоки идут вертикально */
    align-items: center;
}

.tournament-block {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Теперь блоки занимают всю ширину */
    margin-bottom: 20px; /* Отступ между блоками */
    display: flex; /* Располагаем текст и кнопку по горизонтали */
    justify-content: space-between; /* Раздвигаем содержимое */
    align-items: center; /* Центрируем элементы по вертикали */
}

.tournament-block h2 {
    font-size: 1.3rem;
    margin-right: 20px; /* Отступ справа от текста */
    flex: 1; /* Текст занимает доступное пространство */
}

.join-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 15px;
}

.join-button:hover {
    background-color: #218838;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
html {
  scroll-behavior: smooth;
}
.join-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
.modal {
    display: none; /* Изначально скрыто */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Черный фон с прозрачностью */
    backdrop-filter: blur(5px); /* Размытие фона */
    justify-content: center;
    align-items: center;
 /* Для центрирования содержимого */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    opacity: 1;
    display: flex; /* Отображаем модальное окно */
}
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для формы */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}

/* Стили для сообщения об успехе */
#successMessage {
    margin-top: 20px;
}
/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    background-color: #fff;
}
